body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ec3944;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.restaurantPanel {
  border: solid black 2px;
  width: 25%;
  margin: 3%;
  background-color: white;
}
.restaurantPanel img {
  width: 100%;
  border: black solid 1px;
}
.restaurantPanels {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.top {
  border-bottom: solid black 4px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 32px;
  border-bottom: white solid 2px;
}
.pizzaHeader {
  background-image: url("./Assets/Pizza.jpg");
  height: 200px;
  color: black;
  font-size: 3em;
  text-align: center;
}
.pizzaLink {
  border: black 1px solid;
  width: 15%;
  text-decoration: none;
  color: white;
  background-color: #ec3944;
}
.homePage h3 {
  padding-left: 3%;
}
.pizzaBuilder {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  width: 80%;
  margin-left: 12%;
}
.pizzaBuilder h2 {
  margin-left: 2%;
}

.pane {
  margin-left: 3%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  display: flex;
  flex-flow: row wrap;
}
.toppings {
  justify-content: space-evenly;
}
.topping input {
  width: 25%;
}
.pane input {
  box-sizing: border-box;
}
.orderButton {
  margin: 1%;
  margin-left: 10%;
  padding: 1%;

  width: 75%;
}
.pizzaDog {
  width: 60%;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.pizzaDog img {
  width: 100%;
  border: black solid 1px;
}
.confirmationPage {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.orderDetails {
  background-color: white;
  width: 30%;
}
.orderDetails p {
  margin-left: 2%;
}
