body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ec3944;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.restaurantPanel {
  border: solid black 2px;
  width: 25%;
  margin: 3%;
  background-color: white;
}
.restaurantPanel img {
  width: 100%;
  border: black solid 1px;
}
.restaurantPanels {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.top {
  border-bottom: solid black 4px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 32px;
  border-bottom: white solid 2px;
}
